@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200;300;400;600&display=swap');
*{
   font-family: 'Nunito', sans-serif;
   margin: 0 ;
   padding: 0;
   box-sizing: border-box;
   text-decoration:none ;
   outline: none;
   border: none;
   text-transform: capitalize;
   transition: all .2s linear;

}
/* $red:#000; */

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
&::-webkit-scrollbar{
        width: 1rem;
    }   
    &::-webkit-scrollbar-track{
        background: $black;
    }
    &::-webkit-scrollbar-thumb{
        background: $red;
    }
}
body{
    background: black;
}
.header{
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    padding: 0 9%;
    background: black;


    
}
.logo{
    font-weight: bolder;
    color: white;  
    font-size: 3rem;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    padding: 0 9%;
    background: black;

}
span{
    color: brown;
}
